<!-- static TFs -->

<launch>

<!-- Adjust the transformation x y z yaw pitch roll -->

<node pkg="tf2" type="static_transform_publisher" name="static_tf_1" args="0 0 0 0 0 0 link_1 link2" respawn="true"/> <!-- 10Hz-->

<!-- "base_link" with "sensor link example " -->
<node pkg="tf" type="static_transform_publisher" name="static_tf_2" args="0.5 2.0 -0.8 1.57 -1.57 0.0 base_link sensor_link 100" respawn="true"/> <!-- 100Hz-->

</launch>